h3 {
    font-family: 'Merriweather', serif;
    text-align: center;
}

.container1 {
    /* padding: 5%; */
    /* margin-left: 30%; */
    background-color: greenyellow;
    width: 100%;
    max-width: 471px;
    margin: 0 auto;
    padding: 20px;
}
label {
    font-family:  'Quicksand', sans-serif;
}
