<!doctype html>
<html>
    <head>
            <link rel="stylesheet" type="text/css" href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="../../static/css/admin.css">
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <title>Green Leaf Jobs | Admin</title>
    </head>
    <body>
        <div class="main-container">
            <div class='aside' id="asideBox">
                <div style="background: rgba(122, 240, 128, 0.938); padding:20px; box-sizing: border-box;" >
                    <a href="#" style="font-size:30px; text-transform:capitalize;"><b><span style="color:white;">Green</span><span style="color:green;">Leaf</b></span></a>
                </div>
                <div class='user-profile bordered'>
                    <img src="{{pix}}">
                </div>
                <div style="font-size: 12px;text-align: center;">
                    <div><b>{{name}}</b></div>
                    <b>Logged-in at {{logintime}}</b>
                </div>
                <div class="admin-menu">
                    <a href='javascript:void()'><span class='active nav-list' name="users-nav">Users</span></a>
                    <a href='javascript:void()'><span class='nav-list' name="vac-nav">Job Vacancies</span></a>
                    <a href='javascript:void()'><span class='nav-list' name="app-nav">Job Applications</span></a>
                    <a href='javascript:void()'><span class='nav-list'>Setting</span></a>
                </div>
            </div>
            <div class="main-side" id="mainBox">
                <div class='header-bar'><a href="#" id='navicon'><i class='fa fa-navicon fa-2x'></i></a>
                    <span class="logout">
                        <i class='fa fa-user'></i> <small></small>Logged-in as {{usertype}}</small> &nbsp; | &nbsp; <a href='../../logout'><font color="#f66"><i class='fa fa-power-off'></i> Log-out</font></a>
                    </span>
                </div>

                <div class='summary-stats'><div class='summary-stats bordered' style="border-color:#6f6;"></div></div>

            <!--- users display table--->
                <div id='users' class="fadeInDown animated  display">
                <div class='main-display-area'>
                    <div style="padding:20px;">
                        <div class="users-table">
                            <div class='tab-bar'>
                                <div>REGISTERED USERS RECORDS</div>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>last name</th>
                                        <th>first name</th>
                                        <th>email</th>
                                        <th>address</th>
                                        <th>user type</th>
                                        <th><center>action</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{user["last_name"]}}</td>
                                        <td>{{user["first_name"]}}</td>
                                        <td>{{user["email"]}}</td>
                                        <td>{{user["address"]}}</td>
                                        <td>{{user["user_type"]}}</td>
                                        <td><center><a href="#"><i class="fa fa-trash"></i></a></center></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--- end of users display table--->

            <!--- vacancies display table--->
            <div id="vacancies" class="display fadeInDown animated  ">
                <div class='main-display-area'>
                    <div style="padding:20px;">
                        <div class="users-table">
                            <div class='tab-bar'>
                                <div>JOB VACANCIES RECORDS</div>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>added by</th>
                                        <th>position</th>
                                        <th>salary</th>
                                        <th>job type</th>
                                        <th>job function</th>
                                        <th>description</th>
                                        <th>requirement</th>
                                        <th><center>action</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for vacancy in vacancies %}
                                    <tr>
                                        <td>{{vacancy["first_name"]}} {{vacancy["last_name"]}}</td>
                                        <td>{{vacancy["position"]}}</td>
                                        <td>{{vacancy["salary"]}}</td>
                                        <td>{{vacancy["job_type"]}}</td>
                                        <td>{{vacancy["job_function"]}}</td>
                                        <td>{{vacancy["description"]}}</td>
                                        <td>{{vacancy["requirement"]}}</td>
                                        <td><center><a href="#"><i class="fa fa-trash"></i></a></center></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--- end of vacancies display table--->

            <!--- applications display table--->
            <div id="applications" class="display fadeInDown animated  ">
                <div class='main-display-area'>
                    <div style="padding:20px;">
                        <div class="users-table">
                            <div class='tab-bar'>
                                <div>APPLICATION RECORDS</div>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>added by</th>
                                        <th>vacancy</th>
                                        <th>experience</th>
                                        <th>qualification</th>
                                        <th>added on</th>
                                        <th><center>action</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for appt in applicantions %}
                                    <tr>
                                        <td>{{appt["added_by"]}}</td>
                                        <td>{{appt["vacancy_id"]}}</td>
                                        <td>{{appt["experience"]}}</td>
                                        <td>{{appt["qualification"]}}</td>
                                        <td>{{appt["date_time"]}}</td>
                                        <td><center><a href="#"><i class="fa fa-trash"></i></a></center></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--- end of applications display table--->

            </div>



        </div>
    </body>
</html>
<script src="../../static/js/green_leaf.js"></script>
