<!doctype html>
<html lang="en">

<head>
  <title>Green Leaf Jobs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/static/css/animated.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/custom-bs.css">
    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/fonts/line-icons/style.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

  <style>
    .pix1{
      height: 200px; overflow:hidden; margin:25px 0px;
    }
  @media all and (min-width:970px){
    .pix1{height: 345px; overflow:hidden; margin:25px 0px; margin-top:50px; }
  }
  @media all and (max-width:770px){
    .pix1{height:auto;}
  }
  </style>
</head>

<body id="top">

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
              <span class="icon-close2 js-menu-toggle"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->


        <!-- NAVBAR -->
        <header class="site-navbar mt-3">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="site-logo col-6" style="position: relative; z-index: 2;" ><a href="/" style="font-size:35px; text-transform:capitalize;"><b>Green<span style="color:#0f0;">Leaf</span></b></a></div>

                <nav class="mx-auto site-navigation">
                  <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                    <li><a href="/about">About</a></li>
                    <li><a href="/job-listings">Job Listings</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li class="d-lg-none"><a href="/login">Login</a></li>
                  </ul>
                </nav>

                <div class="right-cta-menu text-right d-flex aligin-items-center col-6" style="position: relative; z-index: 2;">
                  <div class="ml-auto">
                    <a href="/login" class="btn btn-success border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-paper-plane"></span>Login</a>
                  </div>
                  <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                </div>

              </div>
            </div>
          </header>

          <!-- HOME -->
    <section class="home-section section-hero inner-page overlay bg-image"
    style="background-image:linear-gradient(to top,rgba(0, 0, 0, 0.7),rgba(1, 107, 9, 0.5)), url('../static/images/decagon.jpg'); padding-top: 8%;" id="home-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="mb-5 text-center">
            <h1 class="text-white font-weight-bold">About Us</h1>
            <p>Your sure connection to corporate employment.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section pb-0" style="background:#eee;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a data-fancybox data-ratio="2" href="https://vimeo.com/105187899" class="block__96788">
              <span class="play-icon"><span class="icon-play"></span></span>
              <img src="/static/images/about_1.jpg" alt="Image" class="img-fluid img-shadow">
            </a>
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="section-title mb-3">Your Career is Your Life</h2>
            <p class="lead">Career development is the lifelong process of managing learning, work, leisure, and transitions in order to move toward a personally determined and evolving preferred future.</p>
            <p>Changing occupation is an important aspect of career and career management. Over a lifetime, both the individual and the labour market will change; it is to be expected that many people will change occupations during their lives. Data collected by the U.S. Bureau of Labor Statistics through the National Longitudinal Survey of Youth in 1979 showed that individuals between the ages of 18 and 38 will hold more than 10 jobs.</p>
          </div>
        </div>
      </div>
      <br/>
      <br/>
    </section>

    <section class="site-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-12 text-center" data-aos="fade">
              <h2 class="section-title mb-3">Our Team</h2>
            </div>
          </div>

          <div class="row align-items-center block__69944">

            <div class="col-md-3">
              <div class="pix1">
                  <img src="/static/images/fa.jpg" alt="Image" class="img-fluid mb-4 rounded">
              </div>


              <h3>Francis Ibe</h3>
              <p class="text-muted">Product Manager</p>
              <p>A Principal Partner with over five years of experience. He has successfully recruited for the Federal Government of Nigeria and the candidates are very prosperous in their respectve fields.</p>
              <div class="social mt-4">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
                <a href="#"><span class="icon-linkedin"></span></a>
              </div>
            </div>

            <div class="col-md-3">

                <div class=""><img src="/static/images/ra.JPG" alt="Image" class="img-fluid mb-4 rounded"></div>
                <h3>Russelle Nyorere</h3>
                <p class="text-muted">Product Trainer</p>
                <p>Co-Partner; Expertise certified. And has trained thousands of candidates who have prospered in their respective fields.</p>
                <div class="social mt-4">
                  <a href="#"><span class="icon-facebook"></span></a>
                  <a href="#"><span class="icon-twitter"></span></a>
                  <a href="#"><span class="icon-instagram"></span></a>
                  <a href="#"><span class="icon-linkedin"></span></a>
                </div>
              </div>

              <div class="col-md-3">
                <img src="/static/images/ta.jpg" alt="Image" class="img-fluid mb-4 rounded">

                <h3>Tolulope Ayodele</h3>
                <p class="text-muted">Product Trainer</p>
                <p>Co-Partner; Expertise certified. And has trained thousands of candidates who have prospered in their respective fields.</p>
                <div class="social mt-4">
                  <a href="#"><span class="icon-facebook"></span></a>
                  <a href="#"><span class="icon-twitter"></span></a>
                  <a href="#"><span class="icon-instagram"></span></a>
                  <a href="#"><span class="icon-linkedin"></span></a>
                </div>
              </div>

            <div class="col-md-3 order-md-2">
              <img src="/static/images/oa.JPG" alt="Image" class="img-fluid mb-4 rounded">


              <h3>Osehiase Ehilen</h3>
              <p class="text-muted">Product Trainer</p>
              <p>Co-Partner; Expertise certified. And has trained thousands of candidates who have prospered in their respective fields.</p>
              <div class="social mt-4">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
                <a href="#"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
      </section>
    <footer class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-4 col-md-3 mb-4 mb-md-0">
            <h3>Company</h3>
            <ul class="list-unstyled">
              <li><a href="/about">About</a></li>
              <li><a href="/job-listings">Job Listing</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-4 col-md-3 mb-4 mb-md-0">
            <h3>Support</h3>
            <ul class="list-unstyled">
              <li><a href="#">Support</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-4 col-md-3 mb-4 mb-md-0">
            <h3>Contact Us</h3>
            <div class="footer-social">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p> Green Leaf
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved
            </p>
          </div>
        </div>
      </div>
    </footer>

  <!-- SCRIPTS -->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/isotope.pkgd.min.js"></script>
  <script src="../js/stickyfill.min.js"></script>
  <script src="../js/jquery.fancybox.min.js"></script>
  <script src="../static/js/jquery.easing.1.3.js"></script>
  <script src="../static/js/jquery.waypoints.min.js"></script>
  <script src="../static/js/jquery.animateNumber.min.js"></script>
  <script src="../static/js/owl.carousel.min.js"></script>
  <script src="../static/js/custom.js"></script>
</body>
</html>
