<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Job Vacancies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Livvic|Merriweather|Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/add_job.css">
</head>
<body>
    <div class="container form-wrapper">
        <form>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="Comapny">Comapny</label>
                    <input type="text" class="form-control" id="Comapny" name="company" placeholder="company">
                </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="position">Position</label>
                        <input type="text" class="form-control" id="position" name="position" placeholder="position">
                    </div>
                </div>
                <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="salary">Salary</label>
                            <input type="number" class="form-control" id="salary" name="company" placeholder="salary">
                        </div>
                    </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="job-type">Job-Type</label>
                    <select class="form-control" id="job-type" name="job-type">
                    <option>Full Time</option>
                    <option>Part-Time</option>
                    <option>Freelance</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-8">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-8">
                    <label for="requirement">Requirement</label>
                    <textarea class="form-control" id="requirement" rows="5" name="requirement"></textarea>
                </div>
            </div>
        </form>
    </div>
    

    
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>