
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Add Job</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">		
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/animated.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="F p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form fadeInDown animated  validate-form">
					<span class="login100-form-title p-b-33">
						<i class="fa fa-edit"></i> Add Company
					</span>

					<div class="wrap-input100 fadeInDown animated validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Company Name">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
                    </div>
                    
                    
                    <div class="col-auto my-1 wrap-input100 fadeInDown animated" style="margin-left:13px;">
                            <label class="mr-sm-2" for="inlineFormCustomSelect" style="COLOR:GRAY";>User Type</label>
                            <select class="custom-select mr-sm-2 category" id="inlineFormCustomSelect" name="Industry">
                                <option>---select---</option>
                            </select>
                            <span class="focus-input100-1"></span>
                            <span class="focus-input100-2"></span>
                        </div>

                        <div class="col-auto my-1 wrap-input100 fadeInDown animated" style="margin-left:13px;">
                                <label class="mr-sm-2" for="inlineFormCustomSelect" style="COLOR:GRAY";>Job Function</label>
                                <select class="custom-select mr-sm-2 category" id="inlineFormCustomSelect" name="Location">
                                    <option>---select---</option>
                                </select>
                                <span class="focus-input100-1"></span>
                                <span class="focus-input100-2"></span>
                            </div>

					<div class="container-login100-form-btn fadeInDown animated  m-t-20">
						<button class="login100-form-btn">
							Submit
						</button>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	
<!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->
	<script src="/js/main.js"></script>

</body>
</html>