<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Company</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Livvic|Merriweather|Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/add_company.css">
</head>
<body>
        <div class="container">
                <h3>Add Company</h3>
                <hr>
            </div>
            
    <div class="container1 form-wrapper">
        
        <form>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="comapny-name">Comapny Name</label>
                    <input type="text" class="form-control" id="comapny" name="company-name" placeholder="company name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="job-type">Industry</label>
                    <select class="form-control" id="industry" name="industry">
                    <option>Agriculture</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="job-type">Location</label>
                        <select class="form-control" id="location" name="location">
                        <option>Lagos</option>
                        </select>
                    </div>
                </div>
        </form>
    </div>
    

    
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>