
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Account Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">		
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/animated.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->


            
    <style>
        .sign-up2{
            display:none;
        }
    </style>
</head>
<body>
    
    
    
	<div class="limiter">
		<div class="container-login100">

			<div class="F p-l-55 p-r-55 p-t-25 p-b-50">
				<form class="login100-form fadeInDown animated sign-up1  validate-form" method="post" action="/register">
					<span class="login100-form-title p-b-33" style="font-size: 27px;">
						<i class="fa fa-user"></i> Create Account
                    </span>
                    
                    
						<div class="messagebox text-warning" style="text-align: center;"><i class="fa fa-information-circle"></i> {{msg}}</div>

					<div class="wrap-input100 fadeInDown animated validate-input">
						<input class="input100" type="text" name="first_name" placeholder="First name">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
                    </div>
                    <div class="wrap-input100 fadeInDown animated validate-input">
						<input class="input100" type="text" name="last_name" placeholder="Last name">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 fadeInDown animated validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
                    <div class="wrap-input100 fadeInDown animated  rs1 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
                    </div>
                    <div class="wrap-input100 fadeInDown animated  rs1 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="confirm_password" placeholder="Confirm password">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
                    </div>
                   
					<div class="wrap-input100 fadeInDown animated validate-input" >
						<input class="input100" type="text" name="address" placeholder="Address">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<div class="col-auto my-1 wrap=input100 mr-8" style="margin-left:13px;">
							<label class="mr-sm-2" for="inlineFormCustomSelect">User Type</label>
							<select class="custom-select mr-sm-2 category" id="inlineFormCustomSelect" name="user_type">
							  <option class="input100 " disabled selected>---select---</option>
							  <option value="applicant">Applicant</option>
							  <option value="employer">Employer</option>
							</select>
						  </div>
                          
					<div class="container-login100-form-btn fadeInDown animated  m-t-20">
						<button class="login100-form-btn">
							Create Account
						</button>
					</div>

					<div class="text-center fadeInDown animated ">
							<br>
						<span class="txt1">
							Already have an account?
						</span>
							
						<a href="/login" class="txt2 hov1">
							Login
						</a>
					</div>
				</form>
			</div>
		</div>
    </div>
    




   

	
<!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->
    <script src="/js/main.js"></script>
    <script>
        $(function(){
            $('#applicant').on('click', function(e){
                $('.sign-up2').css('display', 'none');
                $('.sign-up1').css('display', 'inline');
                e.preventDefault();

            });
        });
        $(function(){
            $('#employer').on('click', function(e){
                $('.sign-up1').css('display', 'none');
                $('.sign-up2').css({'display': 'inline-block', 'margin-top': '0'});
                e.preventDefault();

            });
        });

    </script>

</body>
</html>